
@{
    ViewBag.Title = "LoiThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger">
    Vui lòng nhập đầy đủ thông tin của bạn và thử lại !!!
    Xin cảm ơn
</div>
<a href="thanh-toan" class="btn btn-warning"> Tiến hành thanh toán lại </a>

